## VIM ##

# Plugins differ on various hosts / Linux flavors
# so don't indlude them
/vim/vim/bundle/**

# Custom folder for settings per host.
# Should not be included in git.
/vim/vim/custom/**

/vim/vim/.netrwhist
