## VIM ##

# Plugins differ on various hosts / Linux flavors
# so don't indlude them
/vim/vim/plugged/**

# Custom folder for settings per host.
# Should not be included in git.
/vim/vim/custom/**

/vim/vim/.netrwhist

# compiled spell-files
*.add.spl

## Python
**/__pycache__/**
*.pyc
