* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Source Code Pro, monospace;
    font-size: 13px;
    font-weight: 400;
}

@define-color text_color #90d0b8;
@define-color background_color rgba(10, 35, 32, 0.95);
@define-color urgent_bg_color #985040;
@define-color urgent_fg_color #e0a8a8;

window#waybar {
    background-color: @background_color;
    border-top: 1px solid rgba(20, 55, 50, 1);
    transition-property: background-color;
    transition-duration: .5s;
    color: @text_color;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    color: @text_color;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}
*/

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button:hover {
    background: shade(@background_color, 0.6);
    transition-property: background-color;
    transition-duration: 500ms;
}

#workspaces button.focused {
    background-color: shade(@background_color, 1.8);
    box-shadow: inset 0 -3px #20a070;
}

#workspaces button.urgent {
    background-color: @urgent_bg_color;
    font-weight:bolder;
    color: @urgent_fg_color;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 2px 8px;
}

.modules-right > widget:not(:last-child) {
    border-right: 1px dotted #606060;
}
.modules-right > widget:first-child {
    border-left: 1px dotted #606060;
}

#window,
#workspaces {
    margin: 0 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#battery.charging, #battery.plugged {
    color: mix(@text_color, #00FF00, 0.3);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #a53c3c;
    color: #ffdddd;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}


#language {
    min-width: 16px;
    padding: 2px 6px;
}

tooltip {
    background-color: shade(@background_color, 0.4);
}

tooltip label {
    color: #a0e0c8;
    font-weight: 500;
}

