@define-color text_color #90d0b8;
@define-color background_color rgba(15, 40, 45, 0.95);
@define-color light_background shade(@background_color, 1.8);
@define-color unselected_text_color shade(@text_color, .5);

* {
    border: none;
    outline: none;
}

#window {
    margin: 0px;
    background-color: @background-color;
    border-radius: 0px;
    opacity: 0.97;
}



#input {
    padding: 6px 20px 6px 20px;
    margin: 5px;

    border: 1px solid shade(@background_color, 1.2);
    border-radius: 15px;

    color: @text_color;
    font-weight: bold;
    background-color: shade(@background_color,0.7);
   	outline: none;
    box-shadow: none;
}

#input:focus {
    border: 2px solid shade(@background_color, 2);
}


#inner-box {
    margin: 4px;
    padding-top:5px;
    color: @unselected_text_color;
    font-weight: bold;
    background-color: @background_color;
    background:transparent;
}

#outer-box {
    margin: 0px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #053040;
    background-color: @background_color;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    /* background: rgb(255,255,255); */
}

#text {
    color: inherit;
}

#img {
	padding-left: 1em;
	margin-right: .5em;
}

expander #img {
	padding-left: 0em;
}

#entry {
    border: none;
    border-radius: 15px;
    background-color: transparent;
    padding: 1ex;
}

#expander-box {
    padding-left: 4ex;

    background-color: inherit;
}

#expander-box #text {
    color: @unselected_text_color;
}

#expander-box #entry:selected #text {
    color: @text_color;
}

#entry:selected {
    color: @text_color;
    border: 2px solid @light_background;
    box-shadow: none;
}

